In [1]:
from streamlit_app import *

In [2]:
import datetime
from logging import exception
from typing import List

import gspread
import numpy as np
import pandas as pd
import plotly.express as px
import streamlit as st
from google.oauth2 import service_account
import matplotlib.colors as mcolors

In [3]:
sheet_url = st.secrets["private_gsheets_url"]
df = get_worksheet(sheet_url, 0)

2022-04-14 18:17:38.188
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/wotashu/.cache/pypoetry/virtualenvs/streamlit-cheki-5kyQcRg0-py3.9/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [4]:
cheki_df = get_worksheet(sheet_url, 0)
idol_df = get_worksheet(sheet_url, 1)
venue_df = get_worksheet(sheet_url, 2)

In [5]:
venue_df[venue_df['location'].str.contains("PlatinumGarage")]

                  location neighborhod city prefecture country
121  PlatinumGarageË•øÊñ∞ÂÆø„Çπ„Çø„Ç∏„Ç™          Êú¨Áî∫  Ê∏ãË∞∑Âå∫        Êù±‰∫¨ÈÉΩ      Êó•Êú¨

In [6]:
cheki_df['cheki_id'] = cheki_df.index

In [19]:
name_cols = [i for i in cheki_df.columns if "name" in i]

In [20]:
cheki_df['idol_count'] = cheki_df[name_cols].replace("", np.nan).count(axis=1)

In [9]:
cheki_df.replace("", np.nan, inplace=True)

In [11]:
merged_df = pd.merge(cheki_df, venue_df, how="left", left_on="location", right_on="location")

In [13]:
group_location = pd.DataFrame(merged_df.groupby("location")["cheki_id"].count().sort_values(ascending=False)).reset_index()

In [14]:
group_location[:20]

                  location  cheki_id
0              Êñ∞ÂÆøHEADPOWER       520
1        Tokyo Link's Hall       404
2               Cosmic Lab       367
3                       ÈÉµÈÄÅ       257
4                  Ê±†Ë¢ã„É™„É¥„Ç©„Ç§„Çπ       160
5            Ê±†Ë¢ãSOUND PEACE       159
6                Space Odd        94
7           Êñ∞ÂÆø„Ç¢„É´„ÇøKeyStudio        89
8               Deseo Mini        85
9               Ëµ§ÁæΩ„É¨„Éã„ÉºAlpha        78
10           Dr. Jeekhan's        74
11                  Êñ∞ÂÆøReNY        67
12     Sound Museum Vision        59
13               1000 Club        58
14               Club Asia        57
15      J-Square Shinagawa        54
16                 Êñ∞ÂÆøWally        51
17     Nagoya ReNY Limited        49
18             Club Malcom        49
19  ÊúâÊ•ΩÁî∫Alternative Theatre        48

In [16]:
group_location['location']

0                    Êñ∞ÂÆøHEADPOWER
1              Tokyo Link's Hall
2                     Cosmic Lab
3                             ÈÉµÈÄÅ
4                        Ê±†Ë¢ã„É™„É¥„Ç©„Ç§„Çπ
                 ...
175    Bellesalle Shibuya Garden
176                     „Éô„É´„Çµ„Éº„É´Ë•øÊñ∞ÂÆø
177        PlatinumGarageË•øÊñ∞ÂÆø„Çπ„Çø„Ç∏„Ç™
178                       Ê±†Ë¢ãAK„Éì„É´
179                   Nadya Park
Name: location, Length: 180, dtype: object

In [17]:
cheki_df.columns = [col.lower() for col in cheki_df.columns]

In [21]:
cheki_df

,note,location,date,name1,name2,name3,name4,name5,name6,name7,name8,cheki_id,idol_count
1,NaN,Bellesalle Shibuya Garden,2013-05-05,Áü¢Â≥∂ËàûÁæé@‚ÑÉ-ute,‰∏≠Â≥∂Êó©Ë≤¥@‚ÑÉ-ute,Èà¥Êú®ÊÑõÁêÜ@‚ÑÉ-ute,Â≤°‰∫ïÂçÉËÅñ@‚ÑÉ-ute,Ëê©ÂéüËàû@‚ÑÉ-ute,NaN,NaN,NaN,1,5
2,NaN,Best Western Plus Silverdale Beach Hotel,2014-06-21,AIRI@Aither,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
3,NaN,Best Western Plus Silverdale Beach Hotel,2014-06-21,SAKURA@Aither,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1
4,NaN,Best Western Plus Silverdale Beach Hotel,2014-06-21,YUUKA@Aither,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
5,NaN,Best Western Plus Silverdale Beach Hotel,2014-06-21,Êú®ÊùëÁæéÂí≤@„É©„Çπ„Éà„Ç¢„Ç§„Éâ„É´,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5128,NaN,Cosmic Lab,2022-04-10,Suzy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5128,1
5129,NaN,Cosmic Lab,2022-04-10,Suzy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5129,1
5130,NaN,Cosmic Lab,2022-04-10,Suzy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5130,1
5131,NaN,Cosmic Lab,2022-04-10,Suzy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5131,1
5132,NaN,Cosmic Lab,2022-04-10,Suzy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5132,1

In [86]:
names = {}
name_cols = [col for col in cheki_df.columns if "name" in col]
for index, row in cheki_df.iterrows():
    names[index] = set([row[col] for col in name_cols if row[col] is not np.NaN])

In [87]:
cheki_df['names'] = cheki_df.apply(lambda x: [x[col] for col in name_cols if x[col] is not np.NaN], axis=1)

In [97]:
df2 = cheki_df[['cheki_id', 'names']]

In [98]:
df2

      cheki_id                                              names
1            1  [Áü¢Â≥∂ËàûÁæé@‚ÑÉ-ute, ‰∏≠Â≥∂Êó©Ë≤¥@‚ÑÉ-ute, Èà¥Êú®ÊÑõÁêÜ@‚ÑÉ-ute, Â≤°‰∫ïÂçÉËÅñ@‚ÑÉ-ut...
2            2                                      [AIRI@Aither]
3            3                                    [SAKURA@Aither]
4            4                                     [YUUKA@Aither]
5            5                                     [Êú®ÊùëÁæéÂí≤@„É©„Çπ„Éà„Ç¢„Ç§„Éâ„É´]
...        ...                                                ...
4439      4439                                             [Suzy]
4440      4440                                             [Suzy]
4441      4441                                             [Suzy]
4442      4442                                             [Suzy]
4443      4443                                             [Suzy]

[4443 rows x 2 columns]

In [109]:
df3 = pd.get_dummies(
    df2.explode('names'),
    columns=['names'],
    # prefix="", prefix_sep=""
).groupby('cheki_id').sum().reset_index()

In [110]:
new_df = pd.merge(cheki_df[['cheki_id','location', 'date']], df3, how='left', right_on='cheki_id', left_on='cheki_id')

In [116]:
pd.DataFrame(new_df[[col for col in new_df.columns if "names_" in col]].sum().sort_values(ascending=False))

                         0
names_Suzy             947
names_ÊÅµÊ∑±„ÅÇ„ÇÄ@„É°„É´„ÉÜ„Ç£„Éè„Éº„Éà     404
names_ÁÄ¨‰πÉÊÇ†Êúà@ÊÅíÊòüÂÆáÂÆô        272
names_‰∏ÉÁÄ¨ÂçÉÂ§è@„Åü„Åæ„ÅîÂß´„Äê„Åü„Åæ„Éó„É™„Äë  272
names_Ê•†Êú®„Çä„Åª@Â§©‰ΩøÁ™ÅÊäú„ÉãË™≠„Éü     217
...                    ...
names_Âè§Â∑ùÊú™Èà¥@„Åß„Çì„Å±ÁµÑ.inc      1
names_Âíå„Å°„Å≤„Çç@ÂøçËÄÖ„ÇØ„É©„Ç§„Ç∑„Çπ       1
names_Âúü‰∫ïÂçÉÊò•@THAT's so     1
names_Â§èÊù•ÂΩ©‰∏ñ@„Éó„Ç∑„É•„Ç±„Å®„É©„Éº„Ç¨      1
names_ÂÆáÂí≤„Å≤„Åã„Çä@ÁàÜÈ¢®„ÇÇ„Çì„Åô„Äú„Çì      1

[322 rows x 1 columns]

In [120]:
new_df.groupby(['cheki_id', 'location', 'date']).sum()

,,,names_AIRI@Aither,names_Aarie@ACT102,names_Ale ÊÑõÁ§º@ÂõΩÈöõÁµÑ,names_Ally@Seishun Youth Academy,names_Anthony@Seishun Youth Academy,names_Aoi@Finally,names_Beak@SwayEmotionsSlightly,names_Berry@ACT102,names_CandyÈ¶®xin@Ëä±„É™„Éü,names_Crystal@ACT102,...,names_ÈüøÊú®Ê∂º‰ªã@ÊÅíÊòüÂÆáÂÆô,names_È§ÖÂÆÆ„Çä„Çà@81moment,names_È´òÊúàÂú≠@SPADES,names_È´òÊ©ã„Åø„ÅÇ@You„Å±„Äú„ÇÄ,names_È´òÊ©ãÁ¥´ÂæÆ@„Ç¢„Ç§„Ç™„Ç±,names_È≥•Ë∂äÁµêË≤¥@„Éí„ÉÉ„Éó„Éê„Éº„É≥,names_È≥¥‰∏äÁ∂∫ÁæÖ@ÂÖâ,names_Èªí„Çë„É™„Ç∫@ËúúÂÖé,names_ÈªíÁÄ¨Áë†Ë°£@„ÅÇ„Å£„Åó„ÇÖ„Å™„ÅÑÔºÅ,names_ùêçùêöùê≠ùê¨ùêÆùêäùê¢@QpQueen
cheki_id,location,date,,,,,,,,,,,,,,,,,,,,,
1,Bellesalle Shibuya Garden,2013-05-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Best Western Plus Silverdale Beach Hotel,2014-06-21,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Best Western Plus Silverdale Beach Hotel,2014-06-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Best Western Plus Silverdale Beach Hotel,2014-06-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Best Western Plus Silverdale Beach Hotel,2014-06-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4439,Cosmic Lab,2022-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4440,Cosmic Lab,2022-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4441,Cosmic Lab,2022-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4442,Cosmic Lab,2022-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4443,Cosmic Lab,2022-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0