In [1]:
import numpy as np
import pandas as pd
import streamlit as st
from loaders import get_datetime_cols
import re

In [2]:
sheet_url = st.secrets["private_gsheets_url"]

In [3]:
from connections import get_google_conn
import streamlit as st
import pandas as pd

gc = get_google_conn()

# Uses st.cache to only rerun when the query changes or after 10 min.
def get_worksheet(url, sheet_num=0):
    worksheet = gc.open_by_url(url).get_worksheet(sheet_num)
    df = pd.DataFrame(worksheet.get_all_values())
    df.columns = df.iloc[0]
    df.drop(df.index[0], inplace=True)
    df.columns = [col.lower() for col in df.columns]
    return df

In [4]:
cheki_df = get_datetime_cols(get_worksheet(sheet_url, 0))
person_df = get_worksheet(sheet_url, 1)
#venue_df = get_worksheet(sheet_url, 2)

In [5]:
person_df

,entity,name1,group1,name2,group2,name3,group3,name4,group4,sns
1,å‹æœˆè˜­ä¸¸@1682,å‹æœˆè˜­ä¸¸,1682,,,,,,,
2,æ‰¿å’Œ è–«@1682,æ‰¿å’Œ è–«,1682,,,,,,,
3,æœˆè¦‹å¤œé›¶@1682,æœˆè¦‹å¤œé›¶,1682,,,,,,,
4,ç¥å±±ãŠã ã—@1682,ç¥å±±ãŠã ã—,1682,,,,,,,
5,å¤©é‡ã²ã‚ã“@.BPM,å¤©é‡ã²ã‚ã“,.BPM,,,,,,,
...,...,...,...,...,...,...,...,...,...,...
580,,,,,,,,,,
581,,,,,,,,,,
582,,,,,,,,,,
583,,,,,,,,,,https://twitter.com/Polalight_hina
584,,,,,,,,,,https://twitter.com/Azuma_mashiro

In [6]:
names_dict = {}
name_cols = [col for col in person_df.columns if "name" in col]
print(name_cols)
for idx, row in person_df.iterrows():
    name_group_list = []
    for col in name_cols:
        if row[col] != "":
            name_group_list.append({"name": row[col], "group": row[f"group{col[-1]}"]})
    names_dict[row["entity"]] = name_group_list

['name1', 'name2', 'name3', 'name4']

In [7]:
names_dict["Suzy"]

[{'name': 'Suzy', 'group': ''},
 {'name': 'Suzy', 'group': 'å¤¢â˜†ãƒšãƒ‡ã‚£ã‚¢'},
 {'name': 'Suzy Lee', 'group': 'èŠ±ãƒè‰²ãƒªãƒŸãƒ‡ãƒƒãƒˆ'}]

In [8]:
groups = []
for value in names_dict.values():
    for item in value:
        if item['group'] not in groups:
            groups.append(item['group'])

In [9]:
for i in groups:
    print(i)

1682
.BPM
ã€eNã€‘
Chou2Precede
#ã‚ã‚“ã®ã‚ãƒ¼ã‚‹ã©
èœœå…
â„ƒ-ute
ã·ã‚‰ã—ã‚…ãŒ
ï¼‹Sugar.
èŠ±ãƒè‰²ãƒªãƒŸãƒ‡ãƒƒãƒˆ
37.2â„ƒ-ãƒŠãƒŠãƒ‰ãƒ‹ãƒ–-
81moment
ACR*0
ACT102
AdFicTioN
AiDOLOXXXY
Aither
Angeâ˜†Reve
ASH
Asterisk*zero
baby bear Party
BooN! BooN! BooooN
Brio Gaja
BSK
BUPPPLE
ChaseÃ—Chase
CHEQUEMATE
CHERRY GIRLS PROJECT
CODE:0000
Cosmic
CYCLONISTA
DESURABBITS
DopeDrop
DOUBLE
elsy
EVEç ”ä¿®ç”Ÿ
excess
Finally
143âˆ½
FinalSelection
FIRSTâ˜†STAR
G'ASH
GANGDEMIC
é›·é›»
å¤©é¢¨-AMAKAZE-
Honey Bae Bee
Ice Ink
iLiFE!
JAPANARIZM
Laâ€èŠ±ãƒãŸã¿
Leaders
ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘
Li-V-RAVE
ç™½è‰²ã®ãƒãƒ•ã‚£ã‚¢
Lil na Valley
LOVE IZ DOLL
Love Jammin
Lyrical school
Magical Magic
MyDearDarlin'
NINJAç´…
OTHE11O
P-Loco
Parasite.Kiss
Phantomy
é…”ç”Ÿå¤¢æ­»
PUNKY RAD PINK
æƒ‘æ˜Ÿç«œå®®
ReverseTokyo
Revival:I
Riw
Rizbeat
Seishun Youth Academy
Seloi
SHOW!ME!æ©Ÿå«Œ
SPADES
Stellaâ˜†Blue
SwayEmotionsSlightly
ãƒ¦ãƒ¬ãƒ«ãƒ©ãƒ³ãƒ‰ã‚¹ã‚±ãƒ¼ãƒ—
Teamãã‚Œã‚Œã£å¨˜!
THAT's so
unichan
VARY GIRLS PROJECT
yokubary
Youã±ã€œã‚€
YUENI
Zero Project
ã‚¢ã‚¤ã‚ªã‚±
Ry's
ã‚ã£ã—ã‚…ãªã„ï¼
ã‚ã«ã¾ã€œã‚‹
ã‚ã‚€ã¡ã‚ƒã‚“ãš
ã‚¢ãƒ³ã‚·ãƒ¥ã‚¢
ã†ãŸãŸå¯ã‚·ã‚¨ã‚¹ã‚¿
ã‚¦ãƒ¬ãƒ†ãƒ³
ãŠã¯ã‚ˆã†ï¼ã‚‚ãã‚…ã‚Œãƒ¼ã—ã‚‡ã‚“
ã‚¬ãƒ©ã‚¯ã‚¿ï¼ã½ã‚“ã“ã¤ï¼Ÿ
ãã„ã‚ã¡ã‚ƒã‚“ãš
ã„ã¡ãœã‚“!
ãã¿ã®ãƒ­ãƒ©ã‚¼ãƒ‘ãƒ
ã‚­ãƒ¥ãƒ¼ã£ã¨ï¼ã‚»ãƒ³ãƒã‚ã‚“ãŸã‚‹
ãã‚‹ãƒ¼ãš
ã‚¯ãƒ¬ã‚¢ã‚·ã‚ªãƒ³
ã“ã£ãºã±ã‚“ã®ã¿ã¿
ã•ã¨ã‚Šãƒ¢ãƒ³ã‚¹ã‚¿ãƒ¼
ã‚µãƒãƒˆãƒ©ã‚¤ãƒ
ã‚·ãƒ¥ã‚¢ãƒã‚¹
å¤¢â˜†ãƒšãƒ‡ã‚£ã‚¢
ç‹ç«‹ã‚¢ãƒ•ã‚£ãƒªã‚¢ãƒ»ã‚¹ã‚¿ãƒ¼ã‚º
ãƒ€ãƒ³ãƒ—ãƒª
ã ã‚“ã·ã‚Š
ã¡ãƒ¼ã‚€M
ãƒãƒ¼ãƒ èµ¤å‚
ã¤ã£ãŸã‚“
ã¦ãƒã‚“ã
ãƒ‡ãƒ¡ã‚­ãƒ³ã®å·¨äºº
ã§ã‚“ã±çµ„.inc
ãƒˆã‚­ãƒ¡ãƒ­
ãƒ‹ãƒ¥ãƒ¼ã‚³ãƒ‰ãƒ¢ãƒ—ãƒ­ãƒ†ã‚£ã‚¢ãƒ³
ãƒãƒ¼ãƒ¡ã‚¤ã‚¯
ãƒãƒ¼ãƒ¡ã‚¤ã‚¯æ±äº¬
ãƒãƒŠãƒªãƒŸ
ãƒ’ãƒƒãƒ—ãƒãƒ¼ãƒ³
ãƒ—ã‚·ãƒ¥ã‚±ã¨ãƒ©ãƒ¼ã‚¬
ãƒ—ãƒªã‚¢ãƒ¢
ãƒ—ãƒªã‚ºãƒ ãƒãƒ¼ãƒˆ
ã¾ã™ã‹ã‚‰ã³ã£ã¨
ã¿ã‘ã­ã“ã‚«ãƒ•ã‚§
ãƒ¡ãƒ«ãƒ†ã‚£ãƒãƒ¼ãƒˆ
ã‚ã‚€ã¿ã»
ãƒ©ã‚¹ãƒˆã‚¢ã‚¤ãƒ‰ãƒ«
ãƒ«ãƒŸãƒŠã‚¹ãƒã‚ªãƒ³
ãƒ¬ãƒ—ã‚¹ãƒ«ãƒ—ã‚¹
å…‰
æ’æ˜Ÿå®‡å®™
æ°´æœˆ
å›ã«ã€èƒ¸ã‚­ãƒ¥ãƒ³ã€‚
å›½éš›çµ„
å¤©ä½¿çªæŠœãƒ‹èª­ãƒŸ
ç‚¹æŸ“ãƒ†ãƒ³ã‚»ã‚¤å°‘å¥³ã€‚
å¿è€…ã‚¯ãƒ©ã‚¤ã‚·ã‚¹
æ‹ã—ã¦ãã‚ƒã‚“ãã‚‰ã¶ã£!
æˆ‘å„˜ãƒ©ã‚­ã‚¢
æ—¥æ—¥æ˜¯å¥½æ—¥
æ±äº¬ã‚»ãƒ©ãƒ•ã‚£ãƒ
æ¡œä¸˜HS
æ°‘æ—ãƒãƒƒãƒ”ãƒ¼çµ„
ãƒ²ãƒ‰ãƒ«ãƒãƒ¨ãƒŠã‚«
å‚¾å¥‡éšŠ
æ³¡æ²«ãƒ‘ãƒ¼ãƒ†ã‚£ãƒ¼ã‚º
çˆ†é¢¨ã‚‚ã‚“ã™ã€œã‚“
ç¥å®¿
èœ‚èœœâ˜…çš‡å¸
è»æœãƒ¯ãƒ³ãƒ”
è¿·æ„›ã¸ã‚‹ã·ï¼
è¿·èµ°ã‚¬ãƒ¼ãƒ«
é‡‘æ˜Ÿâ˜†ã‚¸ãƒ¥ãƒªã‚¨ãƒƒã‚¿
é›¨ä¸ŠãŒã‚Šã®ãƒ©ãƒ—ã‚½ãƒ‡ã‚£
ãƒ¬ã‚¤ãƒ‰ãƒ­
é’SHUNå­¦åœ’
é»’èˆ¹ãƒãƒ£ãƒ³
embrace

ã¾ã˜ã°ã‚“ch
UPãƒ­ãƒ¼ãƒ
QpQueen
ç™¾é¬¼ä¹™å¥³
JUICE=JUICE
ãã‚…ã„ã€œã‚“â€™ã‚º
ãƒ†ãƒ©ã‚¹Ã—ãƒ†ãƒ©ã‚¹
8FLAG
MAKE
ã‚¢ã‚¯ã‚¢ãƒãƒ¼ãƒˆ
ã‚»ã‚«ãƒ¢ãƒ
ã‚‰ã‚‰ã±ã‚Œãƒ¼ã©ï¼
Krays
GIRLY MOON PROJECT
ãƒ‰ãƒªã‚­ã‚¹
RALF
ç‚¹æŸ“ãƒ†ãƒ³ã‚»ã‚¤å°‘å¥³
RED-i
COLOR'z
ai*ai
uncyclo
Hey!Mommy!
ãƒªãƒˆã‚¹ã‚¿ï¼
ã‚ã’ã‚‚ã‚“ï¼
ãƒ©ãƒ–ã‚¢ã‚°ãƒ¬ãƒƒã‚·ãƒ§ãƒ³
ãƒãƒ©ãƒ©ã‚¤ãƒˆ
RE:IN
iSPY
TEARS-ãƒ†ã‚£ã‚¢ãƒ¼ã‚º -
ãã£ã¨ã€ã“ã‚ŒãŒä¸–ç•Œï¼Ÿ
ã‚¢ã‚¤ãƒ‰ãƒ«ã‚«ãƒ¬ãƒƒã‚¸
FLAPSTAR
ã‚°ãƒ¬ãƒ¼ãƒ†ãƒ«ã¯å¤§äººã«ãªã‚‰ãªã„
4æ¬¡å…ƒã‚³ãƒ³ãƒ‘ã‚¹
PARADISE DISCO
Freo
Village in Maier
BOCCHIã€‚
#æ±äº¬èŠ±é­ç‰©èª
HUSHHUSH

In [33]:
from collections import defaultdict
counts = defaultdict(list)
for row in cheki_array:
    updated_row = list(filter(None, set(row)))
    row_size = len(updated_row)
    for name in updated_row:
        counts[name].append(row_size)

In [35]:
from collections import Counter

Counter(counts["Suzy"])

Counter({1: 942, 5: 5, 4: 5, 3: 20, 2: 21})

In [36]:
grouped_counts = defaultdict()
for key, value in counts.items():
    grouped_counts[key] = Counter(value)

In [41]:
names_df = pd.DataFrame(grouped_counts).T.fillna(0)

In [43]:
names_df['total'] = names_df.sum(axis=1)

In [57]:
names_df.sort_values(by="total", ascending=False)[:20][['total', 1, 2, 3, 4, 5, 6, 7, 8]].astype(int)

                           total    1   2   3  4  5  6  7  8
Suzy                         993  942  21  20  5  5  0  0  0
æµæ·±ã‚ã‚€@ã‚ã‚€ã¿ã»                    754  717  26   2  2  5  2  0  0
ä¸ƒç€¬åƒå¤@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘              310  272   7  19  1  0  3  8  0
ç€¬ä¹ƒæ‚ æœˆ@æ’æ˜Ÿå®‡å®™                    273  244  23   3  0  2  1  0  0
å¤©éŸ³ã‚†ã‚@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘              232  205   5   1  9  1  3  8  0
æ¥ æœ¨ã‚Šã»@å¤©ä½¿çªæŠœãƒ‹èª­ãƒŸ                 217  194   4  19  0  0  0  0  0
ç«é‡å¿«é£›@æ’æ˜Ÿå®‡å®™                    133  107  20   3  0  2  1  0  0
ä¸­è°·äºœå„ª@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘              124  102   1   1  8  1  3  8  0
é›…æ˜¥å¥ˆ@ãƒ¦ãƒ¬ãƒ«ãƒ©ãƒ³ãƒ‰ã‚¹ã‚±ãƒ¼ãƒ—               123  106   8   6  3  0  0  0  0
æ¤åã¾ã©ã‹@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘             123   99   2   1  9  1  3  8  0
æ¶¼ä¹ƒã¿ã»@ã‚ã‚€ã¿ã»                    101   87  12   0  0  0  2  0  0
æ¾å³¶æœ±é‡Œ@ãƒ¡ãƒ«ãƒ†ã‚£ãƒãƒ¼ãƒˆ                 100   92   6   0  0  0  2  0  0
é³´ä¸Šç¶ºç¾…@å…‰                        99   95   0   1  0  2  1  0  0
çŸ³ç”°ç¶¾éŸ³@SwayEmotionsSlightly     95   82   4   6  3  0  0  0  0
æ¿±å´ã¿ã@SwayEmotionsSlightly     92   80   3   6  3  0  0  0  0
ã‚³ã‚¤ãƒŒ ãƒ•ãƒ¦@YUENI                  92   91   0   0  0  0  1  0  0
ãƒ¡ã‚°ãƒ»ãƒ”ãƒƒãƒãƒ»ã‚ªãƒªã‚ªãƒ³@ã·ã‚‰ã—ã‚…ãŒ             78   77   0   0  0  1  0  0  0
æ˜Ÿå å¤¢éŸ³@ãƒ¡ãƒ«ãƒ†ã‚£ãƒãƒ¼ãƒˆ                 67   64   1   0  0  0  2  0  0
æœ›æœˆç´—å¥ˆ@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘               66   57   0   0  8  1  0  0  0
æ¡œè¡£ã¿ã‚†ãª@ãŸã¾ã”å§«ã€ãŸã¾ãƒ—ãƒªã€‘              66   55   0   0  0  0  3  8  0

In [95]:
def group_cheki_by_name(df):
    name_cols = [col for col in df.columns if "name" in col]
    chekis = []
    for idx, row in df.iterrows():
        name_count = len(list(filter(None, row[name_cols].values)))
        for col in df.columns:
            if (row[col] is not np.nan) and ("name" in col) and (row[col]):
                chekis.append(
                    {
                        "cheki_id": idx,
                        "date": row["date"].date(),
                        "person": row[col],
                        "location": row["location"],
                        "year": row["date"].year,
                        "month": row["date"].month,
                        "name": split_name_group(row[col])[0],
                        "group": split_name_group(row[col])[1],
                        "n_shown": name_count, 
                    }
                )
    return pd.DataFrame(chekis)

In [96]:
export_df = group_cheki_by_name(cheki_df)

In [97]:
export_df[export_df["name"]=="Suzy"].groupby(["name", "n_shown"])['person'].count()

name  n_shown
Suzy  1          942
      2           21
      3           20
      4            5
      5            5
Name: person, dtype: int64

In [115]:
topdown = export_df.groupby(["name", "n_shown"])['person'].count().sort_index(level=0).reset_index()

In [116]:
topdown

        name  n_shown  person
0       AIRI        1       1
1      Aarie        1       1
2     Ale æ„›ç¤¼        1       4
3       Ally        1       7
4       Ally        2       2
..       ...      ...     ...
533     é³´ä¸Šç¶ºç¾…        6       1
534     é»’ã‚‘ãƒªã‚º        1       1
535     é»’æœ¨çµæ„›        1       2
536     é»’ç€¬ç‘ è¡£        1      25
537  ğğšğ­ğ¬ğ®ğŠğ¢        1       3

[538 rows x 3 columns]

In [125]:
wide_df = topdown.pivot(index="name", columns="n_shown", values="person").fillna(0).astype(int)

In [126]:
wide_df['total'] = wide_df.sum(axis=1)

In [129]:
wide_df = wide_df[['total'] + [i for i in range(1,9)]]

In [148]:
totals = wide_df.sort_values(by=["total"], ascending=False).reset_index()

In [155]:
totals.index.name = "yay"

In [159]:
totals

n_shown     name  total    1   2   3  4  5  6  7  8
yay
0           Suzy    993  942  21  20  5  5  0  0  0
1           æµæ·±ã‚ã‚€    754  717  26   2  2  5  2  0  0
2           ä¸ƒç€¬åƒå¤    310  272   7  19  1  0  3  8  0
3           ç€¬ä¹ƒæ‚ æœˆ    273  244  23   3  0  2  1  0  0
4           å¤©éŸ³ã‚†ã‚    232  205   5   1  9  1  3  8  0
..           ...    ...  ...  ..  .. .. .. .. .. ..
383       æŸŠãƒ»Dãƒ»ãƒŠãƒŠ      1    1   0   0  0  0  0  0  0
384         ã‚„ãã¬ã¾      1    1   0   0  0  0  0  0  0
385         ã¿ã‚†ã‚Šã‚“      1    1   0   0  0  0  0  0  0
386      ã¿ã®ã—ãŸã¨ã‚‚ã‚€      1    1   0   0  0  0  0  0  0
387         AIRI      1    1   0   0  0  0  0  0  0

[388 rows x 10 columns]

In [1]:
person_df

NameError: name 'person_df' is not defined