In [1]:
from streamlit_app import *

In [2]:
import datetime
from logging import exception
from typing import List

import gspread
import numpy as np
import pandas as pd
import plotly.express as px
import streamlit as st
from google.oauth2 import service_account
import matplotlib.colors as mcolors

In [30]:
sheet_url = st.secrets["private_gsheets_url"]
df = get_worksheet(sheet_url, 0)

In [31]:
cheki_df = get_worksheet(sheet_url, 0)
idol_df = get_worksheet(sheet_url, 1)
venue_df = get_worksheet(sheet_url, 2)

In [32]:
cheki_df['cheki_id'] = cheki_df.index

In [33]:
name_cols = [i for i in cheki_df.columns if "Name" in i]

In [34]:
cheki_df['idol_count'] = cheki_df[name_cols].replace("", np.nan).count(axis=1)

In [35]:
cheki_df.replace("", np.nan, inplace=True)

In [36]:
merged_df = pd.merge(cheki_df, venue_df, how="left", left_on="Location", right_on="Location")

In [37]:
group_location = pd.DataFrame(merged_df.groupby("Location")["cheki_id"].count().sort_values(ascending=False)).reset_index()

In [38]:
group_location[:20]

               Location  cheki_id
0           新宿HEADPOWER       489
1     Tokyo Link's Hall       404
2            Cosmic Lab       338
3                    郵送       227
4               池袋リヴォイス       160
5         池袋SOUND PEACE       159
6             Space Odd        94
7            Deseo Mini        85
8            赤羽レニーAlpha        78
9         Dr. Jeekhan's        74
10            Club Asia        57
11  Nagoya ReNY Limited        49
12          Batur Tokyo        47
13                五反田G+        47
14                   K2        47
15            新宿SUNFACE        43
16        Chelsea Hotel        42
17            1000 Club        41
18         AKIBA COLORS        41
19              大塚Deepa        39

In [42]:
group_location['Location']

0                    新宿HEADPOWER
1              Tokyo Link's Hall
2                     Cosmic Lab
3                             郵送
4                        池袋リヴォイス
                 ...
168                KFC Akihabara
169    Bellesalle Shibuya Garden
170                       池袋AKビル
171         Zepp DiverCity Tokyo
172                     ベルサール西新宿
Name: Location, Length: 173, dtype: object